# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.venv/
*.egg

# Jupyter
.ipynb_checkpoints/

# Data
data/
*.csv
*.h5
bambi_downloads/
Dataset/
exported_frames/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
