[submodule "11/data/fruits-360-original-size"]
	path = 11/data/fruits-360-original-size
	url = https://github.com/fruits-360/fruits-360-original-size.git
[submodule "11/fruits-360-100x100"]
	path = 11/fruits-360-100x100
	url = https://github.com/fruits-360/fruits-360-100x100.git
